/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Captr styles
   ========================================================================== */

/* Fonts converted with Font Squirrel */
@font-face {
    font-family: 'bree_light';
    src: url('../fonts/breelight-webfont.eot');
    src: url('../fonts/breelight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/breelight-webfont.woff') format('woff'),
         url('../fonts/breelight-webfont.ttf') format('truetype'),
         url('../fonts/breelight-webfont.svg#bree_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bree_bold';
    src: url('../fonts/breebold-webfont.eot');
    src: url('../fonts/breebold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/breebold-webfont.woff') format('woff'),
         url('../fonts/breebold-webfont.ttf') format('truetype'),
         url('../fonts/breebold-webfont.svg#bree_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bree_extra_bold';
    src: url('../fonts/../fonts/breeextrabold-webfont.eot');
    src: url('../fonts/breeextrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/breeextrabold-webfont.woff') format('woff'),
         url('../fonts/breeextrabold-webfont.ttf') format('truetype'),
         url('../fonts/breeextrabold-webfont.svg#bree_ebextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bree_regular';
    src: url('../fonts/breeregular-webfont.eot');
    src: url('../fonts/breeregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/breeregular-webfont.woff') format('woff'),
         url('../fonts/breeregular-webfont.ttf') format('truetype'),
         url('../fonts/breeregular-webfont.svg#bree_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bree_serif_regular';
    src: url('../fonts/breeserif-regular-webfont.eot');
    src: url('../fonts/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/breeserif-regular-webfont.woff') format('woff'),
         url('../fonts/breeserif-regular-webfont.ttf') format('truetype'),
         url('../fonts/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bree_thin';
    src: url('../fonts/breethin-webfont.eot');
    src: url('../fonts/breethin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/breethin-webfont.woff') format('woff'),
         url('../fonts/breethin-webfont.ttf') format('truetype'),
         url('../fonts/breethin-webfont.svg#bree_ththin') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'bree_serif_regular';
    background: #eff2f2 url(../img/bg-intro.gif) no-repeat center top;
    color: #242322
}

a:link, a:visited{
    color: #242322;
    text-decoration: none;

    /* HOVER OFF */
   -webkit-transition: color 0.3s;
}

a:hover{
    color: #e32235;

    /* HOVER ON */
   -webkit-transition: color 0.3s;
}

/* ========== HEADER ========== */
header{ 
    width:940px;
    margin:auto;
    position: relative;
    height: 115px;
    z-index: 100
}

header h1{
    display: block;
    background: url(../img/sprite.png) no-repeat 0 0;
    position: absolute;
    top: 30px;
    left: 0;
}

header h1 .logo span{
    display: block;
    text-indent: -9999px;
    height: 152px;
    width: 169px;
}

.contact-info{
    float: right;
    font: 14px 'bree_light', Arial, Verdana, Times;
    text-align: center;
    margin-top: 18px;
    /*-webkit-transition: -webkit-transform .2s ease-in-out;*/
}

.contact-info:hover{
    /*-webkit-transform: scale(1.05, 1.05);*/
}

.contact-info p{
    padding-bottom: 2px;
    margin: 0
}

.contact-info div{
    background: url(../img/sprite.png) no-repeat 0 -179px;
    width: 162px;
    height: 47px;
    vertical-align: middle;
    display: table-cell;
    font: 14px 'bree_regular', Arial, Verdana, Times;
}

nav{
    float: right;
    margin-top: 47px;
    font-size: 16px
}

nav ul{
    padding: 0;
    margin: 0
}

nav li{
    float: left;
    margin-right: 24px
}

nav a{
    display: block;
    background: url(../img/sprite.png) no-repeat -313px top;
    padding-left: 32px;
    height: 27px;
    line-height: 27px;
    font-size: 16px
}

nav a.benefits{
    background: url(../img/sprite.png) no-repeat -313px -43px;
}

nav a.how-to{
    background: url(../img/sprite.png) no-repeat -313px -89px;
}

nav a.clients{
    background: url(../img/sprite.png) no-repeat -313px -135px;
}

section{
    position: relative;
    clear: both;
    min-width: 1040px
}

section h2, section h2 strong{
    font-weight: normal
}

.step{
    position: relative;
    clear:both;
    overflow: hidden;
}

section .description{
    font: 18px 'bree_light', Arial, Verdana, Times;
    position: absolute;
}

section .description ul{
    list-style: none;
    margin: 0;
}

section .description strong{
    font-family: 'bree_regular', Arial, Verdana, Times;
    font-weight: normal
}

section .description li{
    margin-bottom: 10px;
}

section .description li i{
    display: inline-block;
    width:6px;
    height: 20px;
    margin-right: 6px;
    background: url(../img/list-bullet.gif) no-repeat left 2px;
    vertical-align: text-top
}

section .description li.emphasize{
    font-size: 24px;
    line-height: 27px;
}

section .description li.emphasize strong{
    font-family: 'bree_regular', Arial, Verdana, Times;
}

section .description li.emphasize i{
    background-image: url(../img/list-bullet-big.gif);
    height: 24px;
    width: 8px
}

.wrapper{
    clear: both;
    margin: auto;
    width: 1040px;
    position: relative
}

aside{    
    position: fixed;
    right: 0px;
    top:250px;
    z-index: 2000
}

aside .side-button{
    display: block;
    background: url(../img/sprite.png) no-repeat 0 0;
    margin-bottom: 10px;
    width:62px;
    -webkit-transition: -webkit-transform 0.3s;
}

aside .side-button:hover{
    -webkit-transform: translate(-5px,0);
    -webkit-transition: -webkit-transform 0.3s;
}

aside .side-button span{
    display: block;
    text-indent: -9999px
}

aside .button-pdf{
    height:101px;
    background-position: left -259px;
}

aside .button-contact{
    height:100px;
    background-position: left -365px;
}

/* ========== SECTION: INTRO ========== */
section#section-intro{
    padding-bottom: 226px;
}

#section-intro h2{
    position: absolute;
    right: 55px;
    padding: 10px 0 10px 30px;
    border-top: 1px solid #d8dbdb;
    font: 28px 'bree_thin', Arial, Verdana, Times;
    text-align: right;
    color: #8a8785;
}

#section-intro h2 span{    
    border-bottom: 1px solid #d8dbdb;
    padding-left: 30px;
    display: inline-block;
    padding-bottom: 10px;
}

#section-intro h2 strong{
    font-family: 'bree_regular', Arial, Verdana, Times;
    color: #242322
}

#section-intro .art{
    margin-top:70px
}

#section-intro .description{
    line-height: 33px;
    text-align: center;
    margin:17px 0px 0px 75px;
    padding-bottom: 66px;
    background: url(../img/divisor-arabesco.gif) no-repeat center bottom;
    font-family:'bree_serif_regular', Arial, Verdana, Times;
}

#section-intro .description h3{
    font-size:33px;
}

#section-intro .description p{
    font-size:21px;
    color: #8a8785;
    line-height: 30px
}

#section-intro .description .column{
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

#section-intro .description .column:last-child{
    margin-right: 0
}

/* ========== SECTION: BENEFITS ========== */
section#section-benefits{
    background: #242322;
    padding:30px 0 50px;
    text-align: center;
    color: #fff;
    overflow:hidden;
}

#section-benefits .tabs{ 
    padding: 0;
    margin: 0 auto;
    width:820px;
}

#section-benefits .tabs li {
    float:left;
    width:202px;
    text-align: center;
    margin: 0;
    overflow: hidden;
    background-color: #6b6866;
    border-bottom: 3px solid #545250;
    margin-right: 1px;
    list-style: none
}

#section-benefits .tabs li a {
    display: block;
    padding: 7px 15px;
    color: #fff;
    font-size: 18px
}

#section-benefits .tabs li:hover{
    background-color: #eb3244;
    color: #fff;
    border-bottom-color: #9c1c29
}

#section-benefits .tabs li.active {
    background-color: #eb3244;
    border-bottom-color: #9c1c29;
    padding-top: 8px;
    padding-bottom: 5px;
    margin-top: -13px;
}

#section-benefits .tab-content{
    clear:both;
    overflow: hidden;
    height: 580px;
    margin-top: 25px;
}

#section-benefits .left-arrow, 
#section-benefits .right-arrow{
    display: block;
    position: absolute;
    top:150px;
    left:0;
    background: url(../img/arrows.png) no-repeat left top;
    height:291px;
    width: 53px;
    z-index: 100
}

#section-benefits .left-arrow:hover{
    background-position: left bottom;
}

#section-benefits .right-arrow{
    background-position: right top;
    left:auto;
    right:0;
}

#section-benefits .right-arrow:hover{
    background-position: right bottom;
}

#section-benefits h2{
    font: 52px 'bree_light', Arial, Verdana, Times;
    margin-top: -25px;
}

#section-benefits h2 strong{
    color: #eb3244;
    font: 60px 'bree_serif_regular', Arial, Verdana, Times;
}

.benefit{
    font: 18px 'bree_light', Arial, Verdana, Times;
    margin:0;
    text-align: left;
    z-index: 101;
    position: absolute;
    background: url(../img/list-bullet.gif) no-repeat left 2px;
    padding-left: 13px
}

.benefit strong{
    font-family: 'bree_regular', Arial, Verdana, Times;
    font-weight: normal
}

.benefit.emphasize{
    font-size: 24px;
    line-height: 27px;
}

.benefit.emphasize strong{
    font-family: 'bree_regular', Arial, Verdana, Times;
    color: #eb3244;
    font-weight: bold
}

.benefit.emphasize{
    background-image: url(../img/list-bullet-big.gif);
}

.more-benefits{
    position: absolute;
    text-align: left;
}

.more-benefits .title{
    color: #15c6ac;
    margin-bottom: 10px
}

.more-benefits .benefit{
    position: relative;
    margin-bottom: 10px
}

#tab-vendas{
    background: url(../img/benefit-vendas.png) no-repeat center 75px
}

/* benefits - de baixo para cima */
#tab-vendas .benefit-1{
    top: 490px;
    left: 354px;
}

#tab-vendas .benefit-2{
    top: 352px;
    left: 117px;
}

#tab-vendas .benefit-3{
    top: 252px;
    left: 109px;
}

#tab-vendas .benefit-4{
    top: 184px;
    left: 252px;
}

#tab-vendas .benefit-5{
    top: 122px;
    left: 317px;
}

#tab-vendas .more-benefits{
    right: 80px;
    top: 230px;
}

#tab-ti{
    background: url(../img/benefit-ti.png) no-repeat center 75px
}

/* benefits - da esquerda para direita */
#tab-ti .benefit-1{
    top: 435px;
    left: 88px;
}

#tab-ti .benefit-2{
    top: 312px;
    left: 74px;
}

#tab-ti .benefit-3{
    top: 191px;
    left: 67px;
}

#tab-ti .benefit-4{
    top: 112px;
    left: 191px;
}

#tab-ti .benefit-5{
    top: 92px;
    left: 494px
}

#tab-ti .more-benefits{
    right: 100px;
    top: 230px;
}

#tab-diretoria{
    background: url(../img/benefit-diretoria.png) no-repeat center 75px
}

/* benefits - da esquerda para direita */
#tab-diretoria .benefit-1{
    top: 314px;
    left: 54px;
}

#tab-diretoria .benefit-2{
    top: 191px;
    left: 83px;
}

#tab-diretoria .benefit-3{
    top: 130px;
    left: 268px
}

#tab-diretoria .benefit-4{
    top: 121px;
    left: 558px;
}

#tab-diretoria .more-benefits{
    right: 90px;
    top: 200px;
}

#tab-cliente{
    background: url(../img/benefit-cliente.png) no-repeat center 75px
}

/* benefits - da esquerda para direita */
#tab-cliente .benefit-1{
    top: 326px;
    left: 83px;
}

#tab-cliente .benefit-2{
    top: 196px;
    left: 122px;
}

#tab-cliente .benefit-3{
    top: 123px;
    left: 414px;
}

#tab-cliente .benefit-4{
    top: 218px;
    left: 691px;
}

#tab-cliente .benefit-5{
    top: 327px;
    left: 754px;
}

/* ========== SECTION: HOW TO ========== */
section#section-how-to{
    padding-top: 95px;
    background: url(../img/bg-how-to.jpg) no-repeat center top;
    background-size: 100% 100%
}

#section-how-to h2{
    margin: 0 0 60px 55px;
    font-size: 60px;
    background: url(../img/divisor-arabesco-direita.png) no-repeat 800px 39px
}

#section-how-to h2 span{
    font: 18px 'bree_light', Arial, Verdana, Times;
    color: #6b6866;
}

/* STEP 1 */
.step-1 .description{
    left: 641px;
    top: 69px;
    width: 357px;
}

/* STEP 2 */
.step-2{
    margin-top: -125px;
    margin-right: -65px
}

.step-2 .art{
    float: right;
}

.step-2 .description{
    left: 293px;
    top: 200px;
    text-align: right;
}

.step-2 blockquote{
    font: 24px 'bree_regular', Arial, Verdana, Times;
    margin: 60px 0 0
}

.step-2 blockquote i{
    color: #15c6ac;
    font-weight: normal;
    font-style: normal;
    font-size: 42px; 
}

.step-2 cite{
    display: block;
    font-size: 14px;
    font-style: normal;
    color: #8f8f8f;
    padding-right: 15px
}

.step-2 cite strong{
    color: #242322;
    font: 18px 'bree_light', Arial, Verdana, Times;
}

/* STEP 3 */
.step-3{
    margin-top: -170px;
    margin-left: 20px
}

.step-3 .art{
}

.step-3 .description{
    left: 612px;
    top:250px;
    width: 340px;
}

/* STEP 4 */
.step-4{
    margin-right: 112px;
    margin-top: 9px;
}

.step-4 .art{
    float: right;
}

.step-4 .description{
    position: absolute;
    left: 27px;
    top: 188px;
    text-align: right;
}

/* STEP 5 */
.step-5{
    margin-top: 70px;
}

.step-5 .art{

}

.step-5 .description{    
    left: 622px;
    top: 122px;
}

/* STEP 6 */
.step-6{
    margin-top: -20px;
    padding-bottom: 30px;
    
}

.step-6 .art{
    margin-left: 40px
}

.step-6 .description{
    position: absolute;
    left: 454px;
    top: 427px;
}

/* STEP 7 */
.step-7{
    margin-top: 37px;
}

.step-7 .art{
    margin-left: 5px
}

.step-7 .description{
    position: absolute;
    left: 640px;
    top: 112px;
}

.step-7 .block-button-contact{
    padding-top:60px;
}

.step-7 .button-contact{
    padding: 0;
    width: 300px;
    margin-left:50px;
}

.step-7 .disclaimer{
    color: #fff;
    margin: 35px 0 7px;
    padding-left:45px;
    font:normal 12px 'bree_thin', Arial, Verdana, Times;
}

/* ========== SECTION: CLIENTS ========== */
section#section-clients{
    padding: 70px 0;
    background: url(../img/bg-clients-pattern.gif);
    overflow: hidden;
}

#section-clients h2{
    margin: 0 0 50px 45px;
    font-size: 60px;
    background: url(../img/divisor-arabesco-direita2.png) no-repeat 513px 35px
}

#section-clients h2 span{
    font: 18px 'bree_thin', Arial, Verdana, Times;
}

#section-clients .cases li{
    background: #fff;
    width: 220px;
    height: 95px;
    list-style: none;
    margin: 0 20px 20px 0;
    float: left;
    text-align: center;
    padding-top:15px;
}

#section-clients .testimonial{
    background: #15c6ac;
    padding: 22px;
    float: left;
    width: 660px;
    line-height: 19px;
    font-family: 'bree_thin', Arial, Verdana, Times;
}

#section-clients .testimonial blockquote{
    margin: 0;
    color: #fff
}

#section-clients .testimonial cite{
    color: #2c2b2a;
    display: block;
    margin-top: 10px;
    font:14px 'bree_light', Arial, Verdana, Times;
    font-style: normal
}

/* ========== SECTION: CONTACT ========== */
section#section-contact{
    background: #2c2b2a;
    padding:50px 0 110px;
    color: #fff
}

#section-contact h2{
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px
}

#section-contact h2 span{
    display: block;
    font: 18px 'bree_thin', Arial, Verdana, Times;
    color: #77726d
}

#section-contact h2 .line{
    display: inline-block;
    border-bottom: 1px solid #242322;
    width: 23%;
    margin: 5px;
}

#section-contact .tabs{ 
    padding: 0;
    margin: 0;
}

#section-contact .tabs li {
    float:left;
    width:33.2%;
    text-align: center;
    margin: 0;
    overflow: hidden;
    background-color: #6b6866;
    border-bottom: 3px solid #545250;
    margin-right: 1px;
    list-style: none
}

#section-contact .tabs li a {
    display: block;
    padding: 7px 15px;
    color: #fff;
}

#section-contact .tabs li:hover{
    background-color: #eb3244;
    color: #fff;
    border-bottom-color: #9c1c29
}

#section-contact .tabs li.active {
    background-color: #eb3244;
    border-bottom-color: #9c1c29;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -10px;
}

#section-contact .tabs li i{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../img/sprite.png) no-repeat;
    width:30px;
    height:28px;
}

#section-contact .tabs .icon-download{
    background-position: right -224px;    
}

#section-contact .tabs .icon-how-much{
    background-position: right -178px;
}

#section-contact .tabs .icon-contact-form{
    background-position: right -271px;
}

#section-contact .tab-content{
    clear:both;
    background: #eb3244;
    padding:40px 40px 40px;
    overflow: hidden;
}

#section-contact .art{
    float:left;
    margin: 10px 0 0 20px;
    font-weight: normal;
    font-size: 13px
}

#section-contact form{
    width: 650px;
    float: right;
}

#section-contact form .field{
    float: left; 
    margin-bottom: 10px;
    margin-right: 20px
}

#section-contact form label{
    display: block;
    font: 12px 'bree_light', Arial, Verdana, Times;
    margin-bottom: 5px
}

#section-contact form input[type=text]{
    border:0;
    padding: 10px;
    width:280px;
    font-size: 12px
}

#section-contact form textarea{
    border:0;
    padding: 10px;
    width:280px;
    font-size: 12px;
    height:50px;
}

#section-contact form select{
    border:0;
    padding: 10px;
    width:300px;
    font-size: 12px
}

#section-contact form input[type=text]:focus{
    outline:none;
}

#section-contact .field-newsletter{
    padding-top: 20px;
}

#section-contact .field-newsletter label{
    font-size:14px;
}

#section-contact .field-newsletter input{
    vertical-align: middle;    
}

#section-contact .field-submit{
    padding-top:20px;
    text-align: right;
    width: 300px
}

#section-contact form .error{
    color: #000
}

#section-contact form input.error,
#section-contact form select.error{
    border:2px solid #111;
}

/* ========== FOOTER ========== */
footer{
    background: #242322;
    color: #8c8a88;
    font: 12px 'bree_thin', Arial, Verdana, Times;
    padding: 15px 0;
    min-width: 1040px
}

footer .social{
    float:right;
}

footer .credits{
    float:right;
    margin-right: 20px
}

footer .logo-captr, footer .logo-weka{
    margin-right: 20px
}

footer a:link, footer a:visited{
    color: #e32235;
}

footer a:hover{
    color:#fff;
}

/* ========== CAPTR - GENERIC ========== */
a.button{
    background: #15c6ac;
    border-bottom: 3px solid #099883;
    padding: 0 35px;
    display: inline-block;
    color: #fff;
    font-size: 21px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    /*-webkit-transition: -webkit-transform .1s ease-in-out;*/
}

a.button:hover{
    /*-webkit-transform: scale(1.04, 1.04);*/
    background: #11b099
}

a.button-red{
    background: #e32235;
    border-color: #ae0a1a;
}

a.button-red:hover{
    background: #cd1b2c
}

.opl {
    position:fixed;
    top:220px;
    left:0px;
    z-index:99999;
}
.opl a {
    width:73px;
    height:56px;
    text-indent:-9999px;
    display:block;
    background:url('https://s3.amazonaws.com/onepagelove/one-page-love-award.png') no-repeat;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.text-right{
    text-align: right
}

.clearleft{ clear:left; }

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}